POSTGRES_DATABASE="highlighter"
POSTGRES_HOST="localhost"
POSTGRES_PASSWORD="<>"
POSTGRES_PRISMA_URL="postgres://pablo:wNGEcb@localhost/fans"
POSTGRES_URL="postgres://pablo:wNGEcb@localhost/fans?pgbouncer=true&connect_timeout=15"
POSTGRES_URL_NON_POOLING="postgres://pablo:wNGEcb@localhost/fans?pgbouncer=true&connect_timeout=15"
POSTGRES_USER="pablo"
JWT_ACCESS_SECRET="324b582f9f585e2a727df99ef19bcf85e"
RELAY_PRIVATE_KEY="<some-private-key-in-hex>"
VITE_HOSTNAME="localhost"
VITE_RELAY="ws://localhost:5577"
VITE_NWA_PUBKEY="<pubkey-of-the-NWA-connector>"
VITE_CREATOR_RELAY_PUBKEY="<pubkey-of-the-private-key-used>"
STRIPE_KEY="<some-stripe-private-key>"
