.DS_Store
node_modules
/build
/.svelte-kit
/package
.env
.env.*
!.env.example
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# Ignore files for PNPM, NPM and YARN
pnpm-lock.yaml
package-lock.json
yarn.lock

# Sentry Config File
.sentryclirc
.vercel

# Sentry Config File
.sentryclirc
highlighter.db

resources/ios/**/*
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/

*storybook.log