[submodule "packages"]
	path = packages
	url = https://github.com/kind-0/packages
	branch = master
[submodule "packages/ndk"]
	path = packages/ndk
	url = git@github.com:nostr-dev-kit/ndk.git
[submodule "apps/communities-relay"]
	path = apps/communities-relay
	url = git@github.com:pablof7z/communities-relay.git
