@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--background: 0 0% 100%;
		--foreground: 240 10% 3.9%;
		--card: 0 0% 100%;
		--card-foreground: 240 10% 3.9%;
		--popover: 0 0% 100%;
		--popover-foreground: 240 10% 3.9%;
		--primary: 346.8 77.2% 49.8%;
		--primary-foreground: 355.7 100% 97.3%;
		--secondary: 240 4.8% 95.9%;
		--secondary-foreground: 240 5.9% 10%;
		--muted: 240 4.8% 95.9%;
		--muted-foreground: 240 3.8% 46.1%;
		--accent: 240 4.8% 95.9%;
		--accent-foreground: 240 5.9% 10%;
		--destructive: 0 72.22% 50.59%;
		--destructive-foreground: 0 0% 98%;
		--border: 240 5.9% 90%;
		--input: 240 5.9% 90%;
		--ring: 346.8 77.2% 49.8%;
		--radius: 0.5rem;
	}
	.dark {
		--background: 20 14.3% 4.1%;
		--foreground: 0 0% 95%;
		--card: 24 9.8% 10%;
		--card-foreground: 0 0% 95%;
		--popover: 0 0% 9%;
		--popover-foreground: 0 0% 95%;
		--primary: 346.8 77.2% 49.8%;
		--primary-foreground: 355.7 100% 97.3%;
		--secondary: 240 3.7% 15.9%;
		--secondary-foreground: 0 0% 98%;
		--muted: 0 0% 15%;
		--muted-foreground: 240 5% 64.9%;
		--accent: 12 6.5% 15.1%;
		--accent-foreground: 0 0% 98%;
		--destructive: 0 62.8% 30.6%;
		--destructive-foreground: 0 85.7% 97.3%;
		--border: 240 3.7% 15.9%;
		--input: 240 3.7% 15.9%;
		--ring: 346.8 77.2% 49.8%;
	}
}

@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground;
	}
}

.tiptap {
	@apply w-full grow focus:outline-none;
}

.article {
	@apply font-serif !text-[19px] leading-10 tracking-wider;
}

.article h1,
.article h2,
.article h3,
.article--title {
	@apply font-sans text-foreground;
}

.article h1,
.article--title {
	@apply !mb-0 mt-8 !text-4xl font-semibold !leading-tight;
}

.article h2 {
	@apply mb-1 mt-8 text-3xl font-semibold;
}

.article h3 {
	@apply mb-1 mt-8 text-2xl font-semibold;
}

.article h2 + h3 {
	@apply -mt-2 font-medium text-muted-foreground;
}

.article p {
	@apply mt-0 !text-[19px] leading-8 text-muted-foreground;
}

.article b,
.article strong {
	@apply !font-semibold;
}

.article p:not(:last-child) {
	@apply mb-6;
}

.article ul {
	@apply list-disc pl-6;
}

.article ol {
	@apply list-decimal pl-6;
}

.article li {
	@apply mb-2 mt-0 text-lg leading-8 text-muted-foreground;
}

.article blockquote {
	@apply relative mb-6 mt-5 rounded-md border-foreground/50 bg-muted/50 p-6 pl-12 italic text-secondary-foreground;

	&::after {
		content: '❝' !important;
		@apply absolute -left-2 -top-2 z-10 block p-0 font-["Times_New_Roman"] text-4xl font-bold text-foreground;
	}

	& > p {
		@apply !text-xl;
	}
}

@layer base {
	:root {
		--sidebar-background: 0 0% 98%;
		--sidebar-foreground: 240 5.3% 26.1%;
		--sidebar-primary: 240 5.9% 10%;
		--sidebar-primary-foreground: 0 0% 98%;
		--sidebar-accent: 240 4.8% 95.9%;
		--sidebar-accent-foreground: 240 5.9% 10%;
		--sidebar-border: 220 13% 91%;
		--sidebar-ring: 217.2 91.2% 59.8%;
	}

	.dark {
		--sidebar-background: 240 5.9% 10%;
		--sidebar-foreground: 240 4.8% 95.9%;
		--sidebar-primary: 224.3 76.3% 48%;
		--sidebar-primary-foreground: 0 0% 100%;
		--sidebar-accent: 240 3.7% 15.9%;
		--sidebar-accent-foreground: 240 4.8% 95.9%;
		--sidebar-border: 240 3.7% 15.9%;
		--sidebar-ring: 217.2 91.2% 59.8%;
	}
}

.ProseMirror-selectednode {
	@apply -m-1 border-4 border-primary;
}

.editor-toolbar button {
	@apply flex h-10 w-10 cursor-pointer items-center justify-center rounded-sm p-2 text-muted-foreground hover:bg-secondary hover:text-secondary-foreground;
}

.editor-toolbar button[disabled] {
	cursor: not-allowed;
	opacity: 0.2;
}

sup[id] {
	@apply text-foreground;
}

ol.footnotes {
	@apply mt-10 !border-t-2 !border-border pt-4;
	list-style-type: decimal;
	padding-left: 20px;
}

ol.footnotes:has(li) {
	border-top: 1px solid black;
}
